.card_container {
    min-width: 275px;
}

.hover_scale {
    transition: transform 0.2s ease-in-out;
}

.hover_translateX {
    transition: transform 0.3s ease-in-out;
}

.hover_translateX:hover {
    transform: translateX(10px);
}

.hover_translateX:hover .hover_scale {
    transform: scale(1.5);
}

.outer_lang_container {
    width: 100%;
    height: 20px;
}

.inner_lang_container {
    height: 20px;
}