.opacity_70 {
  opacity: 0.7;
}

.opacity_80 {
  opacity: 0.8;
}

.rounded_10 {
  border-radius: 10px;
}

.rounded_100 {
  border-radius: 100px;
}

.text_14 {
  font-size: 14px;
}

.text_16 {
  font-size: 16px;
}

.text_monaco {
  font-family: "Monaco", "Andale Mono", "Consolas", "Courier New", monospace;
}


