html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text_white {
  color: white;
}

input[type=text] {
  background-color: transparent;
  border-width: 0;
  border-style: none;
  border-color: transparent;
  color: #8F8D8F;
  height: 100%;
  width: 90%;
  font-size: 16px;
  font-family: Lucida Grande;
  margin-left: 2px;
  font-weight: 100;
}

input[type="text"]:focus {
  outline: none;
}

.minor_screen_animation {
  overflow: hidden;
  margin-right: auto;
  white-space: nowrap;
  animation: minor_typewriter 3.5s steps(40, end);
}

.full_screen_animation {
  overflow: hidden;
  margin-right: auto;
  white-space: nowrap;
  animation: full_typewriter 3.5s steps(40, end);
}

@keyframes minor_typewriter {
  from {
      width: 39%;
  }
  to {
      width: 61%;
  }
}

@keyframes full_typewriter {
  from {
    width: 27%;
}
to {
    width: 43%;
}
}

.display_none {
  display:none;
}
.display_block {
  display:block;
}