.m_0 {
    margin: 0;
}

.mt_5 {
    margin-top: 5px;
}


.mt_30 {
    margin-top: 30px;
}

.mt_32 {
    margin-top: 32px;
}

.mr_12 {
    margin-right: 12px;
}

.mb_0 {
    margin-bottom: 0;
}

.mb_8 {
    margin-bottom: 8px;
}

.ml_16 {
    margin-left: 16px;
}

.ml_30 {
    margin-left: 30px;
}

.ml_auto {
    margin-left: auto;
}

.my_8 {
    margin-left: 8px;
    margin-right: 8px;
}

.my_auto {
    margin-left: auto;
    margin-right: auto;
}

.mx_0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mx_2 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.mx_5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mx_16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mx_32 {
    margin-top: 32px;
    margin-bottom: 32px;
}