.pr_32 {
    padding-right: 32px;
}

.pb_5 {
    padding-bottom: 5px;
}

.pl_16 {
    padding-left: 16px;
}

.px_7 {
    padding-top: 7px;
    padding-bottom: 7px;
}

.px_8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.px_16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.px_35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.px_70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.py_8 {
    padding-left: 8px;
    padding-right: 8px;
}

.py_16 {
    padding-left: 16px;
    padding-right: 16px;
}

.p_5 {
    padding: 5px;
}
