.pr_32 {
    padding-right: 32px;
}

.pl_3 {
    padding-left: 3px;
}

.pl_16 {
    padding-left: 16px;
}

.px_7 {
    padding-top: 7px;
    padding-bottom: 7px;
}

.px_8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.p_x_16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.px_70 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.p_y_8 {
    padding-left: 8px;
    padding-right: 8px;
}

.pb_5 {
    padding-bottom: 5px;
}

.py_9 {
    padding-left: 9px;
    padding-right: 9px;
}

.py_16 {
    padding-left: 16px;
    padding-right: 16px;
}

.py_36 {
    padding-left: 36px;
    padding-right: 36px;
}

.py_40 {
    padding-left: 40px;
    padding-right: 40px;
}
.p_32 {
    padding: 32px;
}