.btn_container {
    margin: 0 1rem;
    padding: 0.2rem;
}

.btn_toolbar {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

/*
Specific styles for selected buttons.
*/
.btn_selected {
    border-radius: 8px;
    background-color: rgba(87, 88, 84, 0.5) !important;
}

/*
Removes html styling of button.
*/
.btn_custom {
    cursor: pointer;
    border-style: none;
    border-color: transparent;
    background-color: transparent;
    padding: 0;
    font-family: inherit;
}