.toolbar_container {
    background-color: #3A3739;
    width: 100%;
    height: 70px;
    top: 0;
    position: sticky;
    z-index: 1;
}

.content_container {
    width: 90%;
    background-color: #fff;
    font-family: 'Quicksand', sans-serif;
}

.left_container {
    width: 30%;
    background-color: #D0CECE;
}

.right_container {
    width: 70%;
}

.left_inner {
    width: 80%;
}

.right_inner {
    width: 85%;
}

.img_container {
    width: 170px;
}

.experience_left {
    width: 80%;
}

.experience_right {
    width: 20%;
    text-align: right;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 1px;
    margin-right: 1px;
}

.circle_empty {
    background-color: #A5A5A5;
}

.circle_half {
    background: linear-gradient(90deg, #000 50%, #A5A5A5 50%);
}

.circle_filled {
    background-color: #000;
}