.container {
    width: 97%;
    margin: 0.5rem auto;
    display: flex;
    align-items: center;
}

.align_right {
    margin-left: auto;
}

.justify_center {
    justify-content: center;
}

.flex {
    display: flex;
}

.inner_container {
    width: 100%;
    display: flex;
    align-items: center;
}

.h400 {
    min-height: 400px;
}

.skills_container {
    width: 30%;
    display: flex;
    align-items: center;
}
